@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;     /* <-- 改这里：越小越细 */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 9999px;
}
.double-range {
  pointer-events: none;
}

.double-range::-webkit-slider-thumb {
  
  appearance: none;
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #345975; 
  cursor: pointer;
}

.color-dot {
  --dot-color: transparent;
  display: inline-block;
  width: 32px;    
  height: 32px;
  border-radius: 9999px;
  border: 2px solid #d1d5db; /* gray-300 */
  position: relative;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome/Safari */
}
.color-dot::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 9999px;
  border: 4px solid transparent;
}
input[type="checkbox"]:checked + .color-dot::after {
  border-color: #ffffff;
}
input[type="checkbox"]:checked + .color-dot {
  border: 1px solid var(--dot-color);
}
.color-square {
  --dot-color: transparent;
  display: inline-block;
  width: 32px;    
  height: 32px;
  border-radius: 0px;
  border: 2px solid #d1d5db; /* gray-300 */
  position: relative;
}
.color-square::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 0px;
  border: 4px solid transparent;
}
input[type="radio"]:checked + .color-square::after {
  border-color: #ffffff;
}
input[type="radio"]:checked + .color-square {
  border: 1px solid var(--dot-color);
}


@keyframes slide-up-fade {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
